.contenedorTablaVentas{
    margin-top: 10px;
}
.contenedorImagenTitulo{
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
   
}

.contenedorImagenTitulo>h1{
    padding-left: 100px;
}
.contenedorTablaVentas > table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;

}
img:hover{
    cursor: pointer;
   transform: scale(1.1);
}
.encabezadoTablaVentas{
    background-color:#255AAA;
    color: white;
}
td,th{
    border:1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}




