
footer{
    background-color:#05243E;
    color: white;
    width: 100%;
    height: 100px;
    display:flex;   
    flex-direction: column;    
    align-items: center; 
}

footer>h1,h5{
    margin: 0;
}