body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*NO TOCAR ESTE ARCHIVO SI NO SE SABE LO QUE SE ESTÃ HACIENDO - css general de la pagina*/
table, td, th {
  border: 1px solid black;
  padding-top: 3px;
  text-align: left;
  padding-left: 2px;
}
td{
  width :15%;
  background: grey;
  
}
table {
  width: 100%;
  border-collapse: collapse;
}
.color_tabla{
  background: green;
}
.encabezado_tabla{
  background: rgb(101, 124, 197);
}
.encabezado_vendedores{
  background-color: white;
  display: flex;
  justify-content: center;
}
.contenedorImagen {
  width: 10vh;
  height: 5vh;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contenedorImagen:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.contenedorImagen > img {
  object-fit: cover;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}