body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*NO TOCAR ESTE ARCHIVO SI NO SE SABE LO QUE SE ESTÃ HACIENDO - css general de la pagina*/
table, td, th {
  border: 1px solid black;
  padding-top: 3px;
  text-align: left;
  padding-left: 2px;
}
td{
  width :15%;
  background: #C4C4C4;
  
}
table {
  width: 100%;
  border-collapse: collapse;
}
.color_tabla{
  background: green;
}
.encabezado_tabla{
  background: #255AAA;
}
.encabezado_vendedores{
  background-color: white;
  display: flex;
  justify-content: center;
}
.contenedorImagen {
  width: 10vh;
  height: 5vh;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contenedorImagen:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.contenedorImagen > img {
  object-fit: cover;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.encabezado_vendedores{
  padding-top: 40px;
}
.imagen_gestionar{
  margin-right: 140px;
  width: 5vh;
  height: 1vh;
}

.editar{
  width: 5vh;
  height: 5vh;
  padding-left: 50%;
}

.actualizar_usuario {
  display: flex;
  justify-content: center;
}
.formulario_act{
  background-color: red;
  padding-bottom: 30vh;
  padding-left: 12vh;
  padding-right: 12vh;
  margin-top: 70px;

}
.encabezado_formulario{
  background-color: #255AAA;
}
.formulario_act > label{
  padding-right: 40px;
}
.formulario_act > input{
  padding-right: 40px;
  background-color: chartreuse;
  margin-top: 10px;
}
.formulario_act >h2{
  background-color: coral;
}
.actualizar_usuario>h2{
  background-color: blue;
  height: 20px;
  margin-left: 100vh;
}